.menuContainer > .overlay,
.menuContainer.active > .overlay {
    position: absolute;
    right: 0;
    height: calc( 100vh - 120px );
    width: calc( 100vw - 120px );
    background: rgba(0,0,0, .3);
}

.menuContainer.active > .overlay {
    animation: overlay-slide-in 300ms forwards 300ms;
}

@keyframes overlay-slide-in {
    from {
        width: calc( 100vw - 120px );
    }
    to {
        width: 0;
    }
}

.menuContainer > .overlay {
    animation: overlay-slide-out 300ms forwards;
}

@keyframes overlay-slide-out {
    from {
        left: 0;
        width: 0;
    }
    to {
        left: 0;
        width: calc( 100vw - 120px );
    }
}

.menuContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: #202934;
    border: 60px solid #181d23;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
}

.menuContainer::before,
.menuContainer::after {
    content: '';
    position: absolute;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
}

.menuContainer::before {
    background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Stars.svg?sanitize=true);
}

.menuContainer::after {
    background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Trees.svg?sanitize=true) bottom repeat-x;
}

.menuContainer.deactive {
    animation: fade-out 600ms forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        z-index: 999;
    }
    50% {
        opacity: 1;
        z-index: 999;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

.menuContainer.active {
    animation: fade-in 300ms forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        z-index: -1;
    }
    to {
        opacity: 1;
        z-index: 999;
    }
}

/***** Menu Items: Animation *****/
.menuContainer ul {
    margin-left: -80px;
    opacity: 0;
    animation: slide-out 200ms forwards;
}

.menuContainer ul {
    list-style-type: none !important;
    font-size: 3rem;
}

@keyframes slide-out {
    from {
        opacity: 1;
        margin-left: 0px;
    }
    to {
        opacity: 0;
        margin-left: -80px;
    }
}

.menuContainer.active ul {
    animation: slide-in 300ms forwards 600ms;
}

@keyframes slide-in {
    from {
        opacity: 0;
        margin-left: -80px;
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
}

/***** Menu Items: Hover Animation *****/
.menuContainer ul li {
    border-left: .2rem solid transparent;
    transition: border-left 200ms;
    margin-bottom: 15px;
}

.menuContainer ul li a {
    font-size: 3rem;
    padding-left: .5rem;
}

.menuContainer ul li a::after {
    content: ' »';
    font-size: 2.5rem;
    color: transparent;
    transition: color 200ms;
}

.menuContainer ul li a:hover::after {
    content: ' »';
    color: #f300b4;
}

.menuContainer a,
.menuContainer a:visited {
    color: #fafafa;
}

.menuContainer a:hover,
.menuContainer a:active {
    color: #f300b4;
}
.btnRn{
    position: relative;
    right: 100px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    user-select: none;
}
.btnRn span {
    background: rgb(0,172,238);
    background: linear-gradient(
            0deg
            , rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    display: block;
    position: absolute;
    width: 220px;
    height: 47px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
                7px 7px 20px 0px rgba(0, 0, 0, .1),
                4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    transition: all .3s;
    line-height: 47px;
}
.btnRn span:nth-child(1) {
    box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btnRn span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.btnRn:hover span:nth-child(1) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.btnRn:hover span:nth-child(2) {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

@media only screen and (max-width: 649px) {
    .menuContainer {
        border: none;
    }

    .menuContainer > .overlay,
    .menuContainer.active > .overlay {
        height: 100vh;
        width: 100vw;
    }

    .menuContainer.active > .overlay {
        animation: overlay-slide-in 300ms forwards 300ms;
    }

    @keyframes overlay-slide-in {
        from {
            width: 100vw;
        }
        to {
            width: 0;
        }
    }

    .menu-container > .overlay {
        animation: overlay-slide-out 300ms forwards;
    }

    @keyframes overlay-slide-out {
        from {
            left: 0;
            width: 0;
        }
        to {
            left: 0;
            width: 100vw;
        }
    }
}
