.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.4rem;
}
.cardRoot{
    width: 268px;
    height: 388px;
    margin: 15px;
}
.btn {
    margin: 20px auto;
    width: 180px;
    height: 50px;
    display: block;
}
.customBtn {
    width: 180px;
    height: 50px;
    font-size: 15px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    /*background: rgba(255,255,255, 0.5);*/
    background: #fce756;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    text-align: center;
    line-height: 30px;
}
.btn {
    border: none;
    color: #000;
}
.btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    direction: rtl;
    z-index: -1;
    box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}
.btn:hover {
    color: #000;
}
.btn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}
.btn:active {
    top: 2px;
}